$white-color: #FFFFFF;
$white-ghost-color: #F5F7FA;
$white-smoke-color: #F8F8F8;
$gray-color: #808080;
$gray-silver-color: #C4C4C4;
$gray-dim-color: #3D3D3D;
$blue-sky-color: #71A3FF;
$red-color: #dd1919;